<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	meta:edge
	<title>Document</title>
</head>
<body>
	
</body>
</html>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	
</body>
</html>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<h1>{{ titulo }}</h1>
		<label for="">Nome</label><br>
		<input type="text" v-model="nome">

		<br><br>
		<label for="">Telefone</label><br>
		<input type="text" v-model="fone">

		<br><br>
		<label for="">Deseja receber nossas novidades?</label><br>
		<input type="radio" value="Sim" v-model="novidades"> Sim
		<input type="radio" value="Não"  v-model="novidades"> Não

		<br><br>
		<label for="">Interesses</label><br>
		<input type="checkbox" value="Futebol" v-model="interesses"> Futebol <br>
		<input type="checkbox" value="Formula 1" v-model="interesses"> Formula 1 <br>
		<input type="checkbox" value="Corrida" v-model="interesses"> Corrida <br>

		<br><br>
		<label for="">Como nos conheceu?</label><br>
		<select name="" id="" v-model="conheceu">
			<option value="">Escolha</option>
			<option value="Google">Google</option>
			<option value="TV">TV</option>
			<option value="Revista">Revista</option>
		</select>

		<br><br>

		<button>Enviar</button>
		
		<hr>

		Nome: {{ nome }} <br>
		Telefone: {{ fone }} <br>
		Novidades: {{ novidades }} <br>
		Interesses: {{ interesses }} <br>
		Conheceu: {{ conheceu }}

	</div>

	<script src="https://unpkg.com/vue"></script>	
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				titulo:"",
				conheceu:"",
				fone:"",
				interesses:[],
				nome:"",
				novidades: "",
			}
		});
	</script>
</body>
</html>

